/* Box Sizing */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #444;
    min-height: 100vh;
}

.container {
    max-width: 1336px;
    padding: 0 15px;
    margin: 0 auto;
}

/*table*/
.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

table {
    border: 2px solid #15a3ff;
    background-color: #fff;
    margin-bottom: 1em;
    min-width: 100%;
}

th {
    background-color: #15a3ff;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

td {
    background-color: #f9f9f9;
    text-align: center;
}

th,
td {
    padding: 0.2em;
    font-size: 0.7em;
}

th.active {
    color: #35495e;
}

th.active .arrow {
    opacity: 1;
}

.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

.loader {
    position: relative;
    pointer-events: none;
}

.loader > * {
    opacity: 0;
}

.loader::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    border: 4px solid #007eff;
    border-left-color: transparent;
    transition: 0.3s ease-in-out;
    width: 20px;
    height: 20px
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

/*form*/
.form {
    position: relative;
    margin-bottom: 1em;
}
.form input {
    position: relative;
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-weight: 400;
    color: #007eff;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 60px;
    transition: all .3s ease-in-out;
}
.form input::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
}
.form input + label {
    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 13px 15px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #032429;
    text-align: left;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    transition: all .3s ease-in-out, color .3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
}
.form input + label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    background: #007eff;
    z-index: -1;
    transform: translate(0);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.form input:focus,
.form input:active {
    color: #007eff;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.form input:focus::-webkit-input-placeholder,
.form input:active::-webkit-input-placeholder {
    color: #aaa;
}
.form input:focus + label,
.form input:active + label {
    color: #fff;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    transform: translateX(-100%);
}
.form input:focus + label:after,
.form input:active + label:after {
    transform: translate(100%);
}

.welcome {
    background-color: #10151B;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome .container {
    text-align: center;
}

.welcome h1 {
    line-height: 1;
    color: red;
    font-weight: 900;
    font-size: 150px;
    text-transform: uppercase;
    user-select: none;
    pointer-events: none;
    margin: 0;
}

.welcome .btn {
    margin: 0 auto;
    min-width: 170px;
    height: 60px;
    padding: 0 20px;
    border: 2px solid red;
    border-radius: 2px;
    background: none;
    font-size: 16px;
    color: #fff;
    letter-spacing: .25em;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    appearance: none;
    transition: background .4s, color .4s;
    cursor: pointer;
}

.welcome .btn:hover {
    color: red;
}
