<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>06.11.2019-certification</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/tmpl.js"></script>
    <script src="js/main.js" type="module"></script>
</head>
<body>
    <div id="app">
        <div class="welcome">
            <div class="container">
                <h1>WELCOME</h1>
                <button data-app-button class="btn">Загрузить пользователей</button>
            </div>
        </div>
    </div>

    <script type="text/html" id="userList">
        <div class="container">
            <div id="statistic" class="table-responsive"></div>
            <div class="table-responsive">
                <table data-table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Фио, пол</th>
                            <th>Номер телефона</th>
                            <th>Email</th>
                            <th>Адрес (Область, Город, Улица, Дом)</th>
                            <th>Дата рождения</th>
                            <th>Дата регистрации</th>
                        </tr>
                    </thead>
                    <tbody data-table-body></tbody>
                </table>
            </div>
        </div>
    </script>

    <script type="text/html" id="userItem">
        <tr>
            <td><img src="<%= picture.thumbnail %>" alt="<%= name.title %> <%= name.first %> <%= name.last %>"></td>
            <td><%= name.title %> <%= name.first %> <%= name.last %>, <%= gender %></td>
            <td><%= phone %></td>
            <td><%= email %></td>
            <td><%= location.country %>, <%= location.city %>, <%= location.street.name %>, <%= location.street.number %></td>
            <td><%= dob.date %></td>
            <td><%= registered.date %></td>
        </tr>
    </script>

    <script type="text/html" id="statisticTable">
        <table>
            <thead>
                <tr>
                    <th>кол-во пользователей</th>
                    <th>кол-во женщин</th>
                    <th>кол-во мужчин</th>
                    <th>кого больше: мужчин или женщин</th>
                    <th>кол-во человек по национальностям</th>
                    <th>кол-во Username Telegram</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= count.total %></td>
                    <td><%= count.female %></td>
                    <td><%= count.male %></td>
                    <td><%= count.forMore %></td>
                    <td><%= count.nat %></td>
                    <td><%= count.telegram %></td>
                </tr>
            </tbody>
        </table>
    </script>
</body>
</html>
